# FastAPI configurations
PROJECT_NAME="Orbita Backend"
VERSION="1.0.0"
API_V1_STR="/api/v1"

# Database configurations
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=orbita_user
MYSQL_PASSWORD=orbita_secure_pw
MYSQL_DATABASE=orbita_db
MYSQL_ROOT_PASSWORD=orbita_root_secure_pw

# Security configurations
SECRET_KEY=yoursecretkeyhere
ACCESS_TOKEN_EXPIRE_MINUTES=11520
